@font-face { font-family: 'FaFont'; src: url("fa/font-awesome-4.3.0/fonts/fontawesome-webfont.woff2") format("woff2"), url("fa/font-awesome-4.3.0/fonts/fontawesome-webfont.woff") format("woff"); font-weight: normal; font-style: normal; }
/* line 16, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa { display: inline-block; font: normal normal normal 14px/1 FaFont; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; transform: translate(0, 0); }

/* makes the font 33% larger relative to the icon container */
/* line 27, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-lg { font-size: 1.33333333em; line-height: 0.75em; vertical-align: -15%; }

/* line 32, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-2x { font-size: 2em; }

/* line 35, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-3x { font-size: 3em; }

/* line 38, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-fw { width: 1.28571429em; text-align: center; }

/* line 42, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */ 
.fa-spin { -webkit-animation: fa-spin 2s infinite linear; animation: fa-spin 2s infinite linear; }

@-webkit-keyframes fa-spin { 0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); transform: rotate(359deg); } }
@keyframes fa-spin { 0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); transform: rotate(359deg); } }
/* line 67, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-rotate-90 { filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1); -webkit-transform: rotate(90deg); -ms-transform: rotate(90deg); transform: rotate(90deg); }

/* line 73, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-rotate-180 { filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2); -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); }

/* line 79, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-rotate-270 { filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); -webkit-transform: rotate(270deg); -ms-transform: rotate(270deg); transform: rotate(270deg); }

/* line 85, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-flip-horizontal { filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1); -webkit-transform: scale(-1, 1); -ms-transform: scale(-1, 1); transform: scale(-1, 1); }

/* line 91, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-flip-vertical { filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1); -webkit-transform: scale(1, -1); -ms-transform: scale(1, -1); transform: scale(1, -1); }

/* line 97, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
:root .fa-rotate-90, :root .fa-rotate-180, :root .fa-rotate-270, :root .fa-flip-horizontal, :root .fa-flip-vertical { filter: none; }

/* line 104, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-stack { position: relative; display: inline-block; width: 2em; height: 2em; line-height: 2em; vertical-align: middle; }

/* line 112, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-stack-1x, .fa-stack-2x { position: absolute; left: 0; width: 100%; text-align: center; }

/* line 119, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-stack-1x { line-height: inherit; }

/* line 122, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-stack-2x { font-size: 2em; }

/* line 125, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-inverse { color: #ffffff; }

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen readers do not read off random characters that represent icons */
/* line 130, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-search:before { content: "\f002"; }

/* line 133, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-user:before { content: "\f007"; }

/* line 136, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-check:before { content: "\f00c"; }

/* line 139, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-remove:before, .fa-close:before, .fa-times:before { content: "\f00d"; }

/* line 144, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-search-plus:before { content: "\f00e"; }

/* line 147, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-search-minus:before { content: "\f010"; }

/* line 150, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-clock-o:before { content: "\f017"; }

/* line 153, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-download:before { content: "\f019"; }

/* line 156, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-list-alt:before { content: "\f022"; }

/* line 159, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-flag:before { content: "\f024"; }

/* line 162, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-camera:before { content: "\f030"; }

/* line 165, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-align-left:before { content: "\f036"; }

/* line 168, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-align-center:before { content: "\f037"; }

/* line 171, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-align-right:before { content: "\f038"; }

/* line 174, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-align-justify:before { content: "\f039"; }

/* line 177, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-list:before { content: "\f03a"; }

/* line 180, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-pencil:before { content: "\f040"; }

/* line 183, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-map-marker:before { content: "\f041"; }

/* line 186, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-edit:before, .fa-pencil-square-o:before { content: "\f044"; }

/* line 190, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-arrows:before { content: "\f047"; }

/* line 193, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-eject:before { content: "\f052"; }

/* line 196, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-chevron-right:before { content: "\f054"; }

/* line 199, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-times-circle:before { content: "\f057"; }

/* line 202, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-check-circle:before { content: "\f058"; }

/* line 205, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-info-circle:before { content: "\f05a"; }

/* line 208, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-crosshairs:before { content: "\f05b"; }

/* line 211, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-ban:before { content: "\f05e"; }

/* line 214, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-arrow-up:before { content: "\f062"; }

/* line 217, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-arrow-down:before { content: "\f063"; }

/* line 220, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-plus:before { content: "\f067"; }

/* line 223, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-minus:before { content: "\f068"; }

/* line 226, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-exclamation-circle:before { content: "\f06a"; }

/* line 229, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-warning:before, .fa-exclamation-triangle:before { content: "\f071"; }

/* line 233, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-arrows-h:before { content: "\f07e"; }

/* line 236, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-gears:before, .fa-cogs:before { content: "\f085"; }

/* line 240, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-external-link:before { content: "\f08e"; }

/* line 243, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-sign-in:before { content: "\f090"; }

/* line 246, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-upload:before { content: "\f093"; }

/* line 249, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-tasks:before { content: "\f0ae"; }

/* line 252, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-filter:before { content: "\f0b0"; }

/* line 255, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-chain:before, .fa-link:before { content: "\f0c1"; }

/* line 259, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-copy:before, .fa-files-o:before { content: "\f0c5"; }

/* line 263, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-square:before { content: "\f0c8"; }

/* line 266, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-navicon:before, .fa-reorder:before, .fa-bars:before { content: "\f0c9"; }

/* line 271, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-list-ul:before { content: "\f0ca"; }

/* line 274, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-table:before { content: "\f0ce"; }

/* line 277, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-caret-down:before { content: "\f0d7"; }

/* line 280, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-caret-right:before { content: "\f0da"; }

/* line 283, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-unsorted:before, .fa-sort:before { content: "\f0dc"; }

/* line 287, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-rotate-left:before, .fa-undo:before { content: "\f0e2"; }

/* line 291, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-sitemap:before { content: "\f0e8"; }

/* line 294, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-exchange:before { content: "\f0ec"; }

/* line 297, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-user-md:before { content: "\f0f0"; }

/* line 300, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-stethoscope:before { content: "\f0f1"; }

/* line 303, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-bell-o:before { content: "\f0a2"; }

/* line 306, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-file-text-o:before { content: "\f0f6"; }

/* line 309, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-desktop:before { content: "\f108"; }

/* line 312, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-tablet:before { content: "\f10a"; }

/* line 315, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-mobile-phone:before, .fa-mobile:before { content: "\f10b"; }

/* line 319, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-circle:before { content: "\f111"; }

/* line 322, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-smile-o:before { content: "\f118"; }

/* line 325, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-frown-o:before { content: "\f119"; }

/* line 328, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-meh-o:before { content: "\f11a"; }

/* line 331, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-gamepad:before { content: "\f11b"; }

/* line 334, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-location-arrow:before { content: "\f124"; }

/* line 337, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-question:before { content: "\f128"; }

/* line 340, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-info:before { content: "\f129"; }

/* line 343, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-exclamation:before { content: "\f12a"; }

/* line 346, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-puzzle-piece:before { content: "\f12e"; }

/* line 349, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-level-up:before { content: "\f148"; }

/* line 352, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-file:before { content: "\f15b"; }

/* line 355, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-file-text:before { content: "\f15c"; }

/* line 358, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-sort-amount-asc:before { content: "\f160"; }

/* line 361, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-sort-amount-desc:before { content: "\f161"; }

/* line 364, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-long-arrow-right:before { content: "\f178"; }

/* line 367, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-apple:before { content: "\f179"; }

/* line 370, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-windows:before { content: "\f17a"; }

/* line 373, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-android:before { content: "\f17b"; }

/* line 376, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-linux:before { content: "\f17c"; }

/* line 379, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-cube:before { content: "\f1b2"; }

/* line 382, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-cubes:before { content: "\f1b3"; }

/* line 385, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-database:before { content: "\f1c0"; }

/* line 388, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-file-code-o:before { content: "\f1c9"; }

/* line 391, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-genderless:before, .fa-circle-thin:before { content: "\f1db"; }

/* line 395, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-share-alt:before { content: "\f1e0"; }

/* line 398, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-twitch:before { content: "\f1e8"; }

/* line 401, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-trash:before { content: "\f1f8"; }

/* line 404, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-area-chart:before { content: "\f1fe"; }

/* line 407, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-line-chart:before { content: "\f201"; }

/* line 410, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-heartbeat:before { content: "\f21e"; }

/* line 413, ../../../../../web/apm/@version@/scss/_apm.fonts.scss */
.fa-server:before { content: "\f233"; }

/* line 31, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.apm-content-area { background-color: #ffffff; border-radius: 3px; border: 1px solid #d6dfe6; margin: 0px; min-height: 100%; }

/* line 39, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.apm-white-box { background-color: #fafafa; border-radius: 3px; border: 1px solid #d6dfe6; }

/* line 46, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.apm-dashboard-graph { border: 1px solid #d6dfe6; }

/* line 56, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.appheader-errorMessage { color: #D83A33; }

/* line 60, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.page_title { text-align: left; font-size: 1.429rem; margin-left: 0px; }

/* line 66, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.page_subtitle { text-align: left; font-size: 0.857rem; margin-left: 0px; padding: 0x; color: #666666; }

/* line 74, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.page_subtitle_align { display: table-cell; line-height: 2.7; }

/* line 79, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.page_value_align { display: table-cell; line-height: 1.5; }

/* line 83, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.region_title { font-size: 1.286rem; padding-bottom: 7px; }

/* line 88, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.xsmall_label { font-size: 0.786rem; color: #666666; }

/* line 93, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.xsmall_value { color: #333333; font-size: 0.786rem; }

/* line 104, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.chart_title { font-size: 0.857rem; }

/* line 108, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.dashboard_tile { display: table; width: 100%; border: 1px solid #d6dfe6; background-color: white; }

/* line 115, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.dashboard_tile_header { padding-top: 5px; }

/* line 121, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.tile_border { border: 1px solid #d6dfe6; padding: 5px; background-color: white; }

/* line 127, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.tile_xl_border { margin: 10px; padding: 10px; }

/* line 132, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.tile_region { margin-left: 5px; margin-right: 5px; height: 125px; width: 200px; }

/* line 139, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.left_tile_region { margin: 5px; height: 175px; }

/* line 144, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.long_tile_region { margin: 5px; height: 382px; }

/* line 149, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.xlong_tile_region { margin: 5px; height: 373px; }

/* line 154, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.graphSeparator { border: none; background-color: #d6dfe6; height: 1px; }

/* line 160, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.big_number { font-size: 1.9em; line-height: 67%; }

/* line 165, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.big_link { font-size: xx-large; }

/* line 170, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.big_metric { font-size: x-large; }

/* line 175, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.link { color: #1a0dab; cursor: pointer; }

/* line 181, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.href.big_link { cursor: pointer; }

/* line 186, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.medium_number { font-size: 1.143rem; }

/* line 190, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.small_label { font-size: 0.857rem; color: #666666; }

/* line 195, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.tile_label_text { font-size: 0.857rem; }

/* line 199, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.little_unit { font-size: 0.857rem; }

/* line 203, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.medium_value_text { font-size: 1.143rem; }

/* line 206, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.value_text { color: #333333; font-size: 0.857rem; }

/* line 212, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.oj-legend .instance_reason_captured { color: #333333; font-size: 0.857rem; }

/* line 217, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.widget-title { font-size: 0.929rem; }

/* line 221, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.small_value_text { font-size: 0.857rem; }

/* line 225, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.small_label_text { font-size: 0.857rem; color: #666666; }

/* line 230, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.chart_value_text { font-size: 1.143rem; }

/* line 234, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.header_link_value_text { font-size: 0.857rem; cursor: pointer; }

/* line 239, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.item_name_link_value_text { font-size: 1.143rem; cursor: pointer; }

/* line 244, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.item_name_link_value_small_text { font-size: 0.857rem; cursor: pointer; }

/* line 249, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.paging_navigation_text { font-size: 0.857rem; cursor: pointer; margin-left: 5px; }

/* line 254, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.chart_in_grid { width: 100%; height: 100px; padding: 0px; }

/* line 260, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.double_chart_in_grid { width: 100%; height: 150px; padding: 0px; }

/* line 266, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.half_chart_in_grid { width: 100%; height: 50px; padding: 0px; }

/* line 272, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.lower_label { text-align: center; padding-top: 3px; }

/* line 277, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.diagram_inset_border { width: 295px; border: #eeeeee solid 1px; }

/* line 283, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.oj-table-element { border-top: #eeeeee solid 1px; }

/* line 288, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.oj-menu-item-icon { top: 35%; }

/* line 292, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.apm-tab-label { font-size: 1rem; cursor: pointer; }

/* line 297, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.long_name { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

/* line 302, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.long_name:hover { white-space: normal; overflow: visible; }

/* line 307, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.granularity_buttons .ojbutton { margin-bottom: 0px; }

/* line 311, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.whitebox { background-color: #FFF; border-radius: 3px; border: 1px solid #d6dfe6; color: #595959; padding: 10px; text-align: left; }

/* line 320, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.selectedFacetRow, .facetRegionContent { background-color: white; border-style: solid; border-width: 1px; border-color: #C3D0DF; }

/* line 329, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.facetRegionContent { padding: 5px; }

/* line 334, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.selectedFacetRow { border-right: none; margin-right: -16px; position: relative; z-index: 1; }

/* line 342, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.tab-icon-size { font-size: 1.714rem; }

/* line 347, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.list-icon-size { font-size: 1.143rem; }

/* line 352, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.popup { background-color: #F8F8F8; border-style: solid; border-color: #C3D0DF; border-width: 1px; }

/* line 360, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.popup_hider { background-color: #F8F8F8; height: 2px; width: 36px; margin-top: -12px; margin-left: -10px; position: absolute; }

/* line 370, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.gray_tab .oj-selected .oj-tabs-tab-content { background-color: #EFF7F7; }

/* line 371, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.gray_tab .oj-tabs-panel { background-color: #EFF7F7; }

/* line 373, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.pill { float: left; white-space: nowrap; border-style: solid; border-radius: 10px; padding-bottom: 3px; padding-left: 5px; padding-right: 5px; padding-top: 2px; border-width: 1px; border-color: #DDDDDD; background-color: #EEEEEE; margin-right: 14px; margin-bottom: 4px; }

/* line 389, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.pillDetailText { font-size: 10px; }

/* line 394, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.loadingIndicator { position: fixed; top: 0; margin-left: -65px; width: 120px; height: 15px; left: 50%; z-index: 999; background-color: #e6ffe0; padding: 5px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; text-align: center; border-style: solid; border-width: 1px; border-top: none; box-shadow: 2px 2px 2px #888888; }

/* line 413, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.apm-table-columns-header-default { padding: 0px; padding-right: 15px; white-space: normal; overflow: visible; vertical-align: top; height: 100%; }

/* line 422, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.list-clickable-icon { cursor: pointer; }

/* line 427, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.request-type { color: #cad757; }

/* line 432, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.request-type-adj { margin-left: -2px; }

/* line 437, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.request-type-adj-list { margin-left: -2px; }

/* line 442, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.request-type-bg { background-color: #f1f4d3; }

/* line 447, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.request-type-bg-fg { color: #f1f4d3; }

/* line 452, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.unknown-type { color: #afbac5; }

/* line 457, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.session { color: #309FDB; }

/* line 462, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.application { color: #00b8ed; }

/* line 467, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.application-adj-list { margin-left: 1px; margin-top: -1px; }

/* line 473, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.page-type { color: #00b9cd; }

/* line 478, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.page-type-bg { background-color: #c6e8f5; }

/* line 483, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.page-type-bg-fg { color: #c6e8f5; }

/* line 488, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.appserver { color: #8f4b91; }

/* line 493, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.appserver-bg { background-color: #d9c4de; }

/* line 498, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.appserver-bg-fg { color: #d9c4de; }

/* line 503, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.ajax { color: #ffb54d; }

/* line 508, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.page_click { color: #8561c8; }

/* line 513, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.apm-mobile-type { color: #309fdb; }

/* line 518, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.syntest { color: #8da461; }

/* line 523, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.error-color { color: #D83A33; }

/* line 528, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.success-color { color: #4F8A10; }

/* line 533, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.arrow-color { color: #878c90; }

/* line 539, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.apm-error-icon-with-badge { position: relative; cursor: pointer; width: 1.1rem; }

/* line 545, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.apm-error-icon-with-badge:before { font-family: FaFont; content: "\f057"; color: #D83A33; position: absolute; top: 0.0rem; left: 0.0rem; }

/* line 554, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.apm-error-icon-with-badge:after { font-family: FaFont; content: "\f129"; color: #878c90; font-size: 0.8rem; position: relative; top: 0.5rem; left: 0.75rem; }

/* line 566, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.apm-table-size-100pct { height: 100%; width: 100%; }

/* line 572, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.apm-nodata { color: #d4d6d7; }

/* line 577, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.apm-selected-color { color: #0572ce; }

/* line 582, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.apm-fa-larger { font-size: 1.25em; }

/* line 587, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.apm-fa-smaller { font-size: .75em; }

/* line 592, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.apm-legend { height: 0.75em; width: 0.75em; display: inline-block; vertical-align: middle; -moz-box-sizing: border-box; box-sizing: border-box; }

/* line 603, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.apm-tab-icon { color: #878c90; }
/* line 606, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.oj-hover .apm-tab-icon, .oj-focus .apm-tab-icon { color: #85bbe7; }
/* line 611, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.oj-active .apm-tab-icon, .oj-selected .apm-tab-icon { color: #0572ce; }
/* line 616, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.oj-disabled .apm-tab-icon { color: #d4d6d7; }

/* line 621, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.ua-text { font-style: italic; color: #737373; }

/* override link hover color in diagram */
/* line 626, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.oj-diagram-link.oj-hover { border-color: #e2e3e4; }

/* override link selection outline to white until we have selection designed */
/* line 631, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.oj-diagram-link.oj-selected { border-color: #2d1d85; }

/* override turning off text selection on listview */
/* line 636, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.oj-listview { -webkit-user-select: text; user-select: text; -moz-user-select: text; -ms-user-select: text; }

/* override turning off text selection on table */
/* line 644, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.oj-table { -webkit-user-select: text; user-select: text; -moz-user-select: text; -ms-user-select: text; }

/* override accordion header style to make it look smaller */
/* line 652, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.oj-accordion-collapsible > .oj-collapsible-wrapper > .oj-collapsible-content { padding: 5px 5px 5px 5px; }

/* line 653, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.oj-accordion-collapsible > .oj-collapsible-header > .oj-collapsible-header-icon { padding: 1px 3px 1px 5px; }

/* line 654, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.oj-accordion-collapsible > .oj-collapsible-header { font-size: 1rem; }

/* override table header row height so that multi-line headers don't get cut off */
/* line 657, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.apm-tall-table-header .oj-table-header-row { height: 6.5em; }

/* line 660, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.apm-short-table-header .oj-table-header-row { height: 2em; }

/* Used to shorten the height of a table row so it doesn't take up so much space vertically */
/* line 666, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.apm-short-table-row .oj-table-body-row { height: 1.0em; }

/* for rotating a font awesome icon 45 degrees. For example the fatal alert icon */
/* line 671, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.apm-rotate-45 { -ms-transform: rotate(45deg); /* Internet Explorer 9 */ -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */ transform: translate(0, 0) rotate(45deg); /* Standard syntax */ }

/* line 677, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.summary-data-item { border: 1px solid #d6dfe6; text-align: left; height: 30px; padding-left: 5px; }

/* line 684, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.summary-rightalign-cell { border: 1px solid #d6dfe6; text-align: right; padding-right: 5px; height: 30px; }

/* line 691, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.summary-data-cell { border: 1px solid #d6dfe6; text-align: center; height: 30px; }

/* line 698, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
#skipContent a { position: absolute; top: -999px; z-index: 1; border: 1px solid black; padding: 2px 5px; background-color: #ffffff; }

/* line 707, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
#skipContent a:focus { top: 0px; }

/* override the default browser behavior to bold table headers */
/* line 712, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
th { font-weight: normal; }

/*override the default DVT chart no data message bold font-weight */
/* line 717, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.oj-dvt-no-data-message { font-weight: normal; }

/* override the default browser h6 style which is teeny tiny */
/* line 722, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
h6 { font-size: 1rem; font-variant: small-caps; font-weight: normal; }

/* when h4 is used as a tab title make the font size smaller and remove padding and margin */
/* line 729, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
h4.oj-tabs-title { font-size: 1rem; margin: 0px; padding: 0px; }

/* when h5 is used in a tile region remove the padding and margin */
/* line 736, ../../../../../web/apm/@version@/scss/_apm.alta.styles.scss */
.tile_region h5, .tile_border h5 { padding: 0px; margin: 0px; }

/*  Description: This is where the application-specific (EUA) styles should be set
*/
/* line 6, ../../../../../web/apm/@version@/scss/_eua.alta.styles.scss */
.eua-content-area { background-color: #ffffff; margin: 0px; min-height: 100%; box-sizing: border-box; overflow: hidden; }

/* line 14, ../../../../../web/apm/@version@/scss/_eua.alta.styles.scss */
.eua-page-title { font-size: 13px; font-weight: bold; text-transform: uppercase; padding: 5px; }

/* line 21, ../../../../../web/apm/@version@/scss/_eua.alta.styles.scss */
.eua-tile-title { white-space: nowrap; height: 17px; }

/* line 26, ../../../../../web/apm/@version@/scss/_eua.alta.styles.scss */
.eua-status-gauge { width: 55px; height: 55px; margin-left: auto; margin-right: auto; }

/* line 33, ../../../../../web/apm/@version@/scss/_eua.alta.styles.scss */
.eua-row-error { color: #ED1C24; }

/* line 37, ../../../../../web/apm/@version@/scss/_eua.alta.styles.scss */
.eua-row-text, .eua-row-text-lg { color: #000000; }

/* line 41, ../../../../../web/apm/@version@/scss/_eua.alta.styles.scss */
.eua-row-text-lg { font-size: x-large; }

/* line 45, ../../../../../web/apm/@version@/scss/_eua.alta.styles.scss */
.eua-row-number-lg, .eua-row-number-xl { font-size: x-large; }

/* line 49, ../../../../../web/apm/@version@/scss/_eua.alta.styles.scss */
.eua-row-number-xl { font-size: xx-large; }

/* Messages
*/
/* line 55, ../../../../../web/apm/@version@/scss/_eua.alta.styles.scss */
.eua-info-msg, .eua-success-msg, .eua-warning-msg, .eua-error-msg { margin: 10px 0; padding: 10px; border-radius: 3px 3px 3px 3px; color: #333333; }

/* line 64, ../../../../../web/apm/@version@/scss/_eua.alta.styles.scss */
.eua-info-msg:before, .eua-success-msg:before, .eua-warning-msg:before, .eua-error-msg:before { font-family: FaFont; display: inline-block; padding-right: 5px; vertical-align: middle; }

/* line 73, ../../../../../web/apm/@version@/scss/_eua.alta.styles.scss */
.eua-info-msg:before { color: #059; content: "\f05a"; }

/* line 77, ../../../../../web/apm/@version@/scss/_eua.alta.styles.scss */
.eua-success-msg:before { color: #270; content: "\f00c"; }

/* line 81, ../../../../../web/apm/@version@/scss/_eua.alta.styles.scss */
.eua-warning-msg:before { color: #9F6000; content: "\f071"; }

/* line 85, ../../../../../web/apm/@version@/scss/_eua.alta.styles.scss */
.eua-error-msg:before { color: #D8000C; content: "\f057"; }

/* line 89, ../../../../../web/apm/@version@/scss/_eua.alta.styles.scss */
.eua-info-msg { background-color: #eaf5fb; border: 1px solid #d9edf8; }

/* line 93, ../../../../../web/apm/@version@/scss/_eua.alta.styles.scss */
.eua-success-msg { background-color: #e5f6ea; border: 1px solid #d6f1de; }

/* line 97, ../../../../../web/apm/@version@/scss/_eua.alta.styles.scss */
.eua-warning-msg { background-color: #fff2de; border: 1px solid #ffeaca; }

/* line 101, ../../../../../web/apm/@version@/scss/_eua.alta.styles.scss */
.eua-error-msg { background-color: #fff3f3; border: 1px solid #ffdfdf; }

/* JS based grid control classes
*/
/* line 108, ../../../../../web/apm/@version@/scss/_eua.alta.styles.scss */
.eua-row { margin-left: auto; margin-right: auto; margin-top: 0; margin-bottom: 0; max-width: none; width: 100%; -moz-box-sizing: border-box; box-sizing: border-box; }

/* line 109, ../../../../../web/apm/@version@/scss/_eua.alta.styles.scss */
.eua-row:before, .eua-row:after { content: " "; display: table; }

/* line 110, ../../../../../web/apm/@version@/scss/_eua.alta.styles.scss */
.eua-row:after { clear: both; }

/* line 111, ../../../../../web/apm/@version@/scss/_eua.alta.styles.scss */
.eua-row > .eua-col > .eua-row { margin-left: -10px; margin-right: -10px; max-width: none; width: auto; -moz-box-sizing: border-box; box-sizing: border-box; }

/* line 112, ../../../../../web/apm/@version@/scss/_eua.alta.styles.scss */
.eua-row > .eua-col > .eua-row:before, .eua-row > .eua-col > .eua-row:after { content: " "; display: table; }

/* line 113, ../../../../../web/apm/@version@/scss/_eua.alta.styles.scss */
.eua-row > .eua-col > .eua-row:after { clear: both; }

/* line 114, ../../../../../web/apm/@version@/scss/_eua.alta.styles.scss */
.eua-col { padding-left: 10px; padding-right: 10px; width: 100%; float: left; position: relative; -moz-box-sizing: border-box; box-sizing: border-box; }

/* line 115, ../../../../../web/apm/@version@/scss/_eua.alta.styles.scss */
html[dir="rtl"] .eua-col { float: right; }

/* line 117, ../../../../../web/apm/@version@/scss/_eua.alta.styles.scss */
.eua-col-hide { display: none; }

/* line 120, ../../../../../web/apm/@version@/scss/_eua.alta.styles.scss */
.eua-col-1 { width: 8.33333%; }

/* line 123, ../../../../../web/apm/@version@/scss/_eua.alta.styles.scss */
.eua-col-1-half { width: 12.5%; }

/* line 126, ../../../../../web/apm/@version@/scss/_eua.alta.styles.scss */
.eua-col-2 { width: 16.66667%; }

/* line 129, ../../../../../web/apm/@version@/scss/_eua.alta.styles.scss */
.eua-col-3 { width: 25%; }

/* line 132, ../../../../../web/apm/@version@/scss/_eua.alta.styles.scss */
.eua-col-4 { width: 33.33333%; }

/* line 135, ../../../../../web/apm/@version@/scss/_eua.alta.styles.scss */
.eua-col-5 { width: 41.66667%; }

/* line 138, ../../../../../web/apm/@version@/scss/_eua.alta.styles.scss */
.eua-col-6 { width: 50%; }

/* line 141, ../../../../../web/apm/@version@/scss/_eua.alta.styles.scss */
.eua-col-7 { width: 58.33333%; }

/* line 144, ../../../../../web/apm/@version@/scss/_eua.alta.styles.scss */
.eua-col-8 { width: 66.66667%; }

/* line 147, ../../../../../web/apm/@version@/scss/_eua.alta.styles.scss */
.eua-col-9 { width: 75%; }

/* line 150, ../../../../../web/apm/@version@/scss/_eua.alta.styles.scss */
.eua-col-10 { width: 83.33333%; }

/* line 153, ../../../../../web/apm/@version@/scss/_eua.alta.styles.scss */
.eua-col-11 { width: 91.66667%; }

/* line 156, ../../../../../web/apm/@version@/scss/_eua.alta.styles.scss */
.eua-col-12 { width: 100%; }

/* line 159, ../../../../../web/apm/@version@/scss/_eua.alta.styles.scss */
div[class*=" eua-col-"] { word-break: break-word; word-wrap: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; }

/* line 166, ../../../../../web/apm/@version@/scss/_eua.alta.styles.scss */
.eua-form-error { font-style: italic; color: red; }

body { background-image: url("images/texture.png"); background-repeat: repeat; background-position: top left; color: #333333; background-color: #ffffff; }
